$navbar-default-bg: #998b95;


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo {
    color: #fff;
    text-decoration: none;
}

.nav.navbar-nav li a {
    color: #52484f;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url("tech-office.jpg");
    background-size: cover;
    height: 470px;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.jumbotron h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: black;
}

.btn-primary {
    color: #fff;
    background-color: #52484f;
    border-color: #52484f; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #7c6d78;
    border-color: #7c6d78; /*set the color you want here*/
}

.btn-success {
    color: #fff;
    background-color: #8b998f;
    border-color: #8b998f; /*set the color you want here*/
}

.btn-success:hover {
    color: #fff;
    background-color: #95998b;
    border-color: #95998b; /*set the color you want here*/
}

.btn-danger {
    color: #fff;
    background-color: #aa7a9c;
    border-color: #aa7a9c; /*set the color you want here*/
}

.btn-danger:hover {
    color: #fff;
    background-color: #b272a0;
    border-color: #b272a0; /*set the color you want here*/
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
}

.article-title {
    font-weight: bold;
    font-size: 1.25em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.listing {
    list-style: none;
    padding-left: 0;
}